body {
    margin: 50px;
}

.quote {
    margin: 20px;
    border-left: 3px solid #007977;
}

.stories {
    text-decoration: none;
}

code {
    background-color: #e6ffff ;
}

.me {
    font-size: 20px;
}

.links {
    padding:8px;
    border-radius: 4px;
    background-color:#00ccc9;
    font-size: 18px;
    margin: 5px;
}